
# All files
[*]
indent_style = space

# Xml files

# IDE0161: Converti in namespace con ambito file
csharp_style_namespace_declarations = block_scoped

# CS8618: Il campo non nullable deve contenere un valore non Null all'uscita dal costruttore. Provare a dichiararlo come nullable.
dotnet_diagnostic.CS8618.severity = none

[*.xml]
indent_size = 2
